.profile
{
    text-align-last: center;
    font-size: 50px;
    /* background-image: url('car.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.name,.password,.age,.height,.weight,.Re-password,.email,.desiredWeight
{
    size: 40px;
    margin: 5px;
    height: 30px;
}
.button
{
    margin: 8px;
    justify-content: center;
    align-items: center;
    display: inline;
    font-size: 16px;
    border-radius: 10px;
}
.main
{
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: aqua; */
    height: 86vh;
    background-color: white;

}
.session
{
    padding: 30px;
    border-style: solid;
    background-color: white;

}
.navbar {
    position: relative;
    min-height: 7vh;
    padding:0 !important;
    margin-bottom: 0 !important;
}
.mainFrame
{
    height: 86vh;
}
.Menu,.exercise-task
{
   padding-top: 0.2%;
    padding-left: 10%;
}
.breakfastData,.lunchData,.dinnerData,.snacksData,.running,.cycling,.squats
{
    display: grid;
}
.EggCount
{
    margin:0;
}
.logout
{
    margin-right: 0%;
}

/* .dayOneMenu{
    display: none;
} */


.exercise-task{
    display: none;
}